name: Publish

on:
  push:
    branches:
      - 'main'

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish-js:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install Mise
        uses: caido/action-mise-action@v3.2.0
        with:
          version: ${{ vars.CI__MISE_VERSION }}

      - name: Install dependencies
        run: pnpm install

      - name: Publish quickjs-types
        uses: ./.github/actions/publish-one
        with:
          package: quickjs-types
          internal: true
          secret-npm-token: ${{ secrets.NPM_BOT_TOKEN }}
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish sdk-backend
        uses: ./.github/actions/publish-one
        with:
          package: sdk-backend
          internal: false
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish sdk-frontend
        uses: ./.github/actions/publish-one
        with:
          package: sdk-frontend
          internal: false
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish sdk-shared
        uses: ./.github/actions/publish-one
        with:
          package: sdk-shared
          internal: true
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish sdk-workflow
        uses: ./.github/actions/publish-one
        with:
          package: sdk-workflow
          internal: true
          secret-github-token: ${{ secrets.GITHUB_TOKEN }}
